In [20]:
# List of high schools. --Module 4.3.4: Practice Using Jupyter Notebook
high_schools = ["Hernandez High School","Figueroa High School","Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [21]:
# A dictionary of high schools and the type of school. --Module 4.3.4: Practice Using Jupyter Notebook
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [22]:
# List of high schools --Module 4.3.5: Overview of Pandas Library
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [23]:
# Module 4.3.5: "To create a Pandas Series, we'll use the pandas.Series() method from the Pandas Libray.-
# But in order to use this method, we first need to import the Pandas libray as a dependencey.""

# Add the Pandas depenency.
import pandas as pd

In [24]:
# Module 4.3.5: "It's best practice to shorten the dependency name, or give it an alias.-
# This makes it easier to use the dependancy in any preceding code you write.

# In this code, we assign the variable school_series to the conversion of the list of schools to a Panda Series by using
# pd.Series() instead of pandas.Series(). This is how we use the alias as pd in our code
# When we run the cell, there is no direct ouput (The series was just created in computer memory).
# To see the output, we need to retrieve it by calling the variable school_series.

# Create list of Pandas Series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [26]:
# Pandas DataFrames --Module 4.3.5: Overview of the Pandas Library

# A Pandas DataFrame is a two-dimensional labeled data structure, like a dictionary, 
# with rows and columns of potentially different data types such as 
# strings, integers, and floats (decimal point numbers), where data 
# is aligned in a table.

# In essence, a Pandas DataFrame contains multiple Pandas Series, 
# or lists. Each column in the Excel file is a Series. 
# In the previous section, we worked with a Series, a list of high schools. 
# That Series is like column B in this Excel file.

# We can convert the data in this Excel file to a Pandas DataFrame using 
# the pandas.DataFrame() method from the Pandas library.

# !!!!!!!!!Convert a List of Dictionaries to DataFrame:!!!!!!!!!
# To create the dictionaries, 
# in thepandas_practice.ipynb file, copy the code into a new cell (below):

In [27]:
# A dictionary of high schools

high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

# The column headers in the Excel file are the keys in the dictionary. 
# The value for each of the keys corresponds to a row in the Excel file.

# In the next cell, we will convert the array, or list 
# of dictionaries, to a DataFrame using school_df = pd.DataFrame(high_school_dicts). 
# In a new cell, type and run the following code: 
# school_df = pd.DataFrame(high_school_dicts)
# school_df

In [28]:
# Rewind: A Python dictionary has a key and a value, or key-value pairs.
school_df = pd.DataFrame(high_school_dicts)
school_df

# ^^^(Code above will create a Pandas DataFrame for the list of dictionaries.

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [30]:
# Previos cell note: 
# The df in school_df is short for "DataFrame." It's a best practice to 
# add this df to a named DataFrame to help distinguish 
# between DataFrames, Series, and variables.

In [40]:
# Convert a List or Series to a DataFrame
# We can also create the same DataFrame by adding each column 
# as a list, or Series, to an empty DataFrame.

# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [41]:
# Next, in a new cell (current cell), initialize an empty DataFrame, like this:

# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Rewind: The standard format for creating a key in a dictionary is to 
# put the key in single or double quotes and inside brackets, 
# e.g.,  counties_dict["Arapahoe"] = 422829.

In [42]:
# Instead of using the dictionary name, we'll use the name of the DataFrame and 
# make it equal to the list, like this:

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [39]:
# Another way to create this DataFrame is to create a Python dictionary
# from the three lists, like this:

# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [ ]:
# The Anatomy of a DataFrame
# Before we move on, let's look at three main parts of a DataFrame, using the school_df as an example:

# Columns: The top, or header, rows
# Index: The numbers that run down the left-hand margin
# Values: The values in the columns (the data)
# See the following image for a visual representation of a DataFrame's anatomy:
# https://courses.bootcampspot.com/courses/1225/files/1417656/preview
# 
# We can access these three main components of a DataFrame with the columns, index, and values attributes.

In [43]:
# The Columns Attribute
# To get the column names of a DataFrame, use df.columns. Here's how you would apply the columns attribute to the school_df DataFrame:

school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [44]:
# The Index Attribute
# To get the indices of the DataFrame, use df.index. Here's how you would apply the index attribute to the school_df DataFrame:

school_df.index

# When you run this cell, the output is a RangeIndexthat contains the first and last index value, as well as the "step=1," 
# or how often the index increments. In this case, the index increments 
# a value of 1 from the beginning index to the ending index.

RangeIndex(start=0, stop=5, step=1)

In [45]:
# The Values Attribute
# To get the values of the DataFrame, use df.values. Here's how you would apply the values attribute to the school_df DataFrame:

school_df.values

# When you run this cell, the output 
# will be an array of all the values, but without the column names.

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)